name: Continuous integration

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_NOLOGO: true
      PACKAGE_PATH: artifacts
      # Create NuGet package and upload to NuGet when a tag is pushed.
      CREATE_PACKAGE: ${{ startsWith(github.ref, 'refs/tags/') }}

    steps:
      - name: Clone repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Create NuGet package
        if: env.CREATE_PACKAGE == 'true'
        run: >
          dotnet pack
          --configuration Release
          --no-build
          --no-restore
          --output ${{ env.PACKAGE_PATH }}
          -property:RepositoryCommit=$GITHUB_SHA

      - name: Upload NuGet package
        if: env.CREATE_PACKAGE == 'true'
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package
          path: ${{ env.PACKAGE_PATH }}
          retention-days: 1

  publish:
    name: Publish NuGet Package
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    timeout-minutes: 2
    env:
      PACKAGE_PATH: package

    steps:
      - name: Download NuGet package
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0

      - name: Push to NuGet
        run: >
          dotnet nuget
          push ${{ env.PACKAGE_PATH }}/*
          --api-key ${{ secrets.NUGET_API_KEY }}
          --source https://api.nuget.org/v3/index.json

